{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	    
	    <title>Messages</title>
	    <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Materialize Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css" media="screen,projection">
		<link rel="stylesheet" href="{% static 'css/default.css' %}">
    </head>
    <body>
        <div id="cards">
        {% include 'cards.html' %}
        </div>
        <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
		    <a class="btn-floating btn-large red">
		      <i class="large material-icons">mode_edit</i>
		    </a>
		    <ul>
		      <!-- change the material icon to filter_1 or filter_9+ etc to show count -->
		      <li id="viewAll" onClick="toggleCard(this.id)"><a class="btn-floating green"><i id="viewAllIcon" class="material-icons">filter</i></a></li>
		      <li id="add" onClick="toggleCard(this.id)"><a class="btn-floating blue"><i class="material-icons">playlist_add</i></a></li>
		    </ul>
	    </div>

	    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	    <!-- Latest compiled and minified JavaScript -->
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" 
	        integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" 
	        crossorigin="anonymous"></script>
	    <!-- Materialize Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
	    <script type="text/javascript">
	       //Define all variables that need django's template tags inside the js here
	       var writeUrl = "{% url 'add' %}";
	       var readUrl = "{% url 'get-all-messages' %}";
	    </script>
	    <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
	
	
